   <div class="col-sm-3 col-md-2 sidebar" data-stellar-background-ratio="0.2">
   <img src = "{{ site.baseurl }}/assets/media/gb-logo.png" class="profile-photo img-responsive" style = "vertical-align:middle;">
   <div class="side-intro">
   <div class="side-intro-sub"> System Developer </div>
   <h3> Gards </h3>
         <div class="social-icons">
           <ul class="list-inline">
             <li><a href="https://www.linkedin.com/in/gardsladines"><i class="fa fa-linkedin"></i></a></li>
             <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
           </ul>
         </div>
   </div>
   </div>